/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: #000;
  background-image: url("/assets/bg.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
  background-image: url("/assets/app_bg.png");
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

#template {
  position: absolute;
}
